.start-page-container {
  
  .logo-container {
    img {
      display: block;
      margin: auto;
    }
  }

  .actions-container {   
    text-align: center;

    input {
      display: block;
      margin: auto;
      width: 90%;
      border-radius: 10px;
      margin-bottom: 10px;

      &::-webkit-input-placeholder {
        text-align: center;
      }
      
      &:-moz-placeholder { /* Firefox 18- */
          text-align: center;  
      }
      
      &::-moz-placeholder {  /* Firefox 19+ */
          text-align: center;  
      }
      
      &:-ms-input-placeholder {  
          text-align: center; 
      }
    }
    
    button {
      padding: 0 30px;
    }
    
    hr {
      border: none;
      border-top: 3px dotted lightgray;
      margin: 20px 0;
    }
  }

  .browse-container {
    ul {
      padding-left: 0;
    }
  }
}