.start-page-container {
  
  .logo-container {
    img {
      display: block;
      margin: auto;
    }
  }

  .actions-container {       
    hr {
      border: none;
      border-top: 3px dotted lightgray;
      margin: 20px 0;
    }
  }

  .browse-container {
    ul {
      padding-left: 0;
    }
  }
}